.table {
	padding: 50px;
	padding-top: 100px;
	font-family: Arial;
}

.table-row:hover {
	background-color: grey;
}

.table-1 {
	padding: 0 50px 50px 50px;

}

.table-head {
	background: red;
	color: black;
}

.box {
	text-align: center;
}

.table-row-1 {
	background: #474747;
	color: white
}

.th {
	/*the table header color has been changed to white using hex decimals*/
	color: black;

}